<div fxLayout="column" fxFlex class="main-right">
  <mat-toolbar class="LI-toolbar" fxFlex="initial">
      <div fxLayout="row" fxFlex class="header">
          <div fxFlex="initial" fxLayoutAlign="start center">
              <h2 class="header-title">Branch Management</h2>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" fxHide.xs="true" fxHide.sm="true">Add New Address</button>              
            <button mat-mini-fab fxHide.md="true" fxHide.lg="true" matTooltip="Add New Address" matTooltipPosition="left"><i class="material-icons">add</i></button>
          </div>
      </div>
  </mat-toolbar>
  <div fxFlex class="main-right-content overflow-auto">
    <div class="addbranch">
        <h4>Add New Branch</h4>
        <div class="branch-form" fxLayout="column">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <div fxFlex="32" class="form-control">
                    <input type="text" placeholder="Branch Name/Location" class="form-txtbox">
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="form-control">
                    <select class="form-select">
                        <option>Country Code</option>
                        <option>Ind</option>
                        <option>USA</option>
                        <option>UK</option>
                    </select>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="form-control">
                    <input type="text" placeholder="Configured Heads" class="form-txtbox">
                </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <div fxFlex="32" class="form-control">
                    <textarea class="form-txtarea" rows="5" placeholder="Address" name="text"></textarea>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex fxLayout="column" fxFlex.sm="none" fxFlex.xs="none">
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="49" class="form-control">
                            <input type="text" placeholder="Configured Heads" class="form-txtbox">
                        </div>
                        <span fxFlex="2"></span>
                        <div fxFlex class="form-control">
                            <input type="text" placeholder="Configured Heads" class="form-txtbox">
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="49" class="form-control">
                            <label class="branch-label">
                                Is this an Exhibition Site?
                            </label>
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                        <span fxFlex="2"></span>
                        <div fxFlex class="form-control">
                            <button mat-raised-button color="primary">Submit</button>
                            <button mat-raised-button class="close-btn">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="branch-list-sec">
        <div class="country-fic-header" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="50" class="country-fic-title" fxLayoutAlign="start end">
                <h3>Branch List</h3>
            </div>
            <div fxFlex class="">
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex class="m-bottom-10">
                        <select class="form-select">
                            <option>Filter by Country</option>
                            <option>India</option>
                            <option>America</option>
                            <option>Africa</option>
                        </select>
                    </div>
                    <span fxFlex="2"></span>
                    <div fxFlex class="m-bottom-10">
                        <input type="text" placeholder="Filter by Branch" class="form-txtbox">
                    </div>
                </div>
            </div>
        </div>
        <div class="branch-list-sec-content">
            <div fxLayout="row" fxLayoutWrap fxLayout.sm="column" fxLayout.xs="column">
                <div fxFlex="32" class="branch-list-box">
                    <h4>Brisbane</h4>
                    <p>175 Eagle Farm Road</p>
                    <p>Pinkenba</p>
                    <p>Australia</p>
                    <p>QLD 4008</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Balikpapan - Warehouse Site</h4>
                    <p>Kawasan Industri</p>
                    <p>JI. AMD Kariangau No. 42</p>
                    <p>Rt. 68 Km. 55</p>
                    <p>Kel Batu Ampar</p>
                    <p>Balikpapan Utara 76124</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Aluva Warehouse</h4>
                    <p>11/427-C</p>
                    <p>Alwin Estate</p>
                    <p>Valyappanpadi</p>
                    <p>U.C.College PO</p>
                    <p>Aluva</p>
                    <p>Cochin</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Brisbane</h4>
                    <p>175 Eagle Farm Road</p>
                    <p>Pinkenba</p>
                    <p>Australia</p>
                    <p>QLD 4008</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Balikpapan - Warehouse Site</h4>
                    <p>Kawasan Industri</p>
                    <p>JI. AMD Kariangau No. 42</p>
                    <p>Rt. 68 Km. 55</p>
                    <p>Kel Batu Ampar</p>
                    <p>Balikpapan Utara 76124</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Aluva Warehouse</h4>
                    <p>11/427-C</p>
                    <p>Alwin Estate</p>
                    <p>Valyappanpadi</p>
                    <p>U.C.College PO</p>
                    <p>Aluva</p>
                    <p>Cochin</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Brisbane</h4>
                    <p>175 Eagle Farm Road</p>
                    <p>Pinkenba</p>
                    <p>Australia</p>
                    <p>QLD 4008</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Balikpapan - Warehouse Site</h4>
                    <p>Kawasan Industri</p>
                    <p>JI. AMD Kariangau No. 42</p>
                    <p>Rt. 68 Km. 55</p>
                    <p>Kel Batu Ampar</p>
                    <p>Balikpapan Utara 76124</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Aluva Warehouse</h4>
                    <p>11/427-C</p>
                    <p>Alwin Estate</p>
                    <p>Valyappanpadi</p>
                    <p>U.C.College PO</p>
                    <p>Aluva</p>
                    <p>Cochin</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Brisbane</h4>
                    <p>175 Eagle Farm Road</p>
                    <p>Pinkenba</p>
                    <p>Australia</p>
                    <p>QLD 4008</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Balikpapan - Warehouse Site</h4>
                    <p>Kawasan Industri</p>
                    <p>JI. AMD Kariangau No. 42</p>
                    <p>Rt. 68 Km. 55</p>
                    <p>Kel Batu Ampar</p>
                    <p>Balikpapan Utara 76124</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span fxFlex="2"></span>
                <div fxFlex="32" class="branch-list-box">
                    <h4>Aluva Warehouse</h4>
                    <p>11/427-C</p>
                    <p>Alwin Estate</p>
                    <p>Valyappanpadi</p>
                    <p>U.C.College PO</p>
                    <p>Aluva</p>
                    <p>Cochin</p>
                    <div class="branch-list-btns">
                        <div fxLayout="column">
                            <div class="view-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">visibility</i></a>
                            </div>
                            <div class="edit-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="close-btn" fxLayoutAlign="center center">
                                <a href="#"><i class="material-icons">highlight_off</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
